.evenements {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .tickets-container {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;

    &__ticket-column {
      display: flex;
      flex-direction: row-reverse;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      align-items: center;

      .tickets-container__image {
        width: 600px;
        height: 164px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .tickets-container__dateT, .tickets-container__date {
        width: 600px;
        height: 164px;
        padding: 15px;
        background-color: #fff;

        .tickets-container__date__time {
          font-size: 14px;
          color: #999;
        }

        .tickets-container__date__line {
          height: 1px;
          background: #1A8FDD;
          margin: 10px 0;
        }

        .tickets-container__date__desc {
          font-size: 16px;
        }
      }

      .tickets-container__more {
        width: 600px;
        height: 164px;
        padding: 15px;
        background-color: #1A8FDD;
        color: #fff;

        .btn {
          margin-top: 10px;

          a {
            background-color: #fff;
            color: #1A8FDD;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .section-title {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;

    &::after {
      content: '';
      position: absolute;
      width: 100px;
      background: #1A8FDD;
      height: 3px;
      bottom: -10px;
    }
  }
}


.evenementsFnac {
  padding: 20px;
  background-color: #f9f9f9;
}

.section-titleFa {
  font-size: 24px;
  margin-bottom: 20px;
}

.tickets-containerFnac {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ticketfnac {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ticketfnac img {
  width: 100%;
  height: auto;
}

.ticket-infoFnc {
  padding: 10px;
}

.ticket-infoFnc h3 {
  font-size: 18px;
  margin: 0 0 10px;
}

.ticket-infoFnc p {
  margin: 5px 0;
}

.discountFnc {
  color: red;
  font-weight: bold;
}
