.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 1rem 0;
  justify-content: center;

  .filter {
    position: relative;
    flex: 1;
    min-width: 150px;

    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f0f0f0;
      appearance: none;
      cursor: pointer;
      font-size: 14px;
      padding-right: 30px;

      &:focus {
        outline: none;
        border-color: #0057b7;
      }
    }

    &:after {
      content: "▼";
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      font-size: 12px;
      color: #595959;
    }
  }
}
