.signUpForm {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signUpForm h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.formGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.formGroup input,
.formGroup select {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formGroup input:last-child,
.formGroup select:last-child {
    margin-right: 0;
}

.eventOptions {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.eventOptions input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}

.alreadyRegistered {
    margin-top: 20px;
    font-size: 0.9em;
    color: #007bff;
    cursor: pointer;
}

.alreadyRegistered:hover {
    text-decoration: underline;
}
