.coming-soon {
    text-align: center;
    background: url('/src/view/img_2.png') no-repeat center center/cover;
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       color: #FFFFFF;
}

.coming-soon h1 {
    font-size: 4rem;
    letter-spacing: 2px;
       color: #FFFFFF;
}

.countdown {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #FFFFFF;
}

.countdown-item {
    margin: 0 15px;
    text-align: center;
    color: white;
}

.countdown-item span {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
}

.countdown-item p {
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: aliceblue;
}