.organisation {
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 180px 0;
    align-items: center;

    .organisation__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%; // S'assure que les containers occupent toute la hauteur possible
    }

    .organisation__left, .organisation__right {
        flex: 1; // Chaque colonne occupe 50% de la largeur
        max-width: 50%; // Limite la largeur à 50% pour chaque colonne
        padding: 0 20px; // Espace intérieur pour le contenu
    }

    .organisation__title {
        font-weight: bold;

        @media (max-width: 600px) {
            font-size: 1.5rem; // Ajustement pour les petits écrans
        }
    }

    .organisation__subtitle {
        margin-bottom: 40px;

        @media (max-width: 600px) {
            margin-bottom: 24px; // Ajustement pour les petits écrans
        }
    }

    .organisation__buttons {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .organisation__buttons button {
        margin-bottom: 10px;

        @media (max-width: 600px) {
            width: 100%;
        }
    }
}

.event-types {
    text-align: center;
    padding: 40px 0;

    &__title {
        margin-bottom: 20px;
        font-weight: bold;
    }

    &__description {
        margin-bottom: 40px;
        color: #6c757d; // Couleur de texte secondaire
    }

    &__card {
        transition: transform 0.3s;

        &:hover {
            transform: translateY(-5px);
        }
    }

    &__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }

    &__card-title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
    }
}
