.event-details {
  padding: 20px;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  top: 10px;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  img {
    margin-bottom: 20px;
  }

  p {
    margin: 10px 0;
  }

  .purchase-form {
    margin-top: 40px;

    h2 {
      margin-bottom: 20px;
      font-size: 1.8rem;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        .MuiTextField-root {
          margin-right: 15px;
          width: 100px;
        }
      }
    }

    h3 {
      margin-top: 20px;
      font-size: 1.5rem;
    }

    h4 {
      margin-top: 20px;
      font-size: 1.3rem;
    }

    .MuiButton-root {
      margin-top: 30px;
    }

    .order-summary {
      margin-top: 20px;

      p {
        color: red;
      }
    }
  }
}
