.hero {
  position: relative;
  max-width: 1920px;
  max-height: 900px;
  z-index: 3000;

  &__background {
    background: url('./hero.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    height: 703px;

    &__container {
      display: flex;
      padding: 0 20px;
      color: white;
      width: 100%;
      z-index: 5000;
      top: 30%;
      justify-content: space-between;
      gap: 20px;
      align-items: center;

      // Media query for mobile devices
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 10px;  // Adjust the gap for a better mobile experience
        padding: 0 10px;
        top: 0; // Adjust the positioning on smaller screens
      }
    }

    &__ticket, &__calendar {
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      @media (max-width: 768px) {
        width: 100%;  // Ensure the components take full width on mobile
      }
    }
  }
}
