.header {
  padding: 0;
  margin: 0;
  height: 70px;
  width: 100%;
  position: fixed;
  //background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #000;
  z-index: 4000;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    &::before{
      content: '';
      height: 2px;
      position: relative;
      right: 12px;
      top: -4px;
      width: 70px;
      background-color: #ffffff;
    }

    .ticket__logo {
      margin-right: 10px;
      &__image{
        color: #fff;
      }

    }

    .underline {
      position: relative;
      height: 2px;
      width: 70px;
      top: 5px;
      left: 12px;
      background: #ffffff;
    }
  }

  &__menu {
    nav {
      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-right: 20px;

          a {
            color: white;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .hamburgerMenu {
    display: none;
  }

  &__right {
    display: flex;
    align-items: center;

    .login {
      display: flex;
      align-items: center;

      .child__menu {
        display: flex;
        align-items: center;
        margin-right: 20px;


        .org {
          margin-right: 20px;

          a {
            text-decoration: none;

            color: white;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .loginBtn{
          a{
            color: white;
            text-decoration: none;
            background-color:#1A8FDD;
            padding: 9px 24px;
            border-radius: 3px;
          }
        }
      }

      a {
        color: white;
        text-decoration: none;


        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
